.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card-header{
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;

}

label{
    font-size: 1rem;
    font-weight: 600;    
}

.btn{
    margin-left: 3.2rem;
    font-weight:700;
    font-size:1rem;
}

.indication{
    font-weight:600;
    margin-left: 0.5rem;
}